<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SwiftDemo" connectionString="Data Source=(LOCAL)\SQLEXPRESS;Initial Catalog=SwiftDemo;Integrated Security=True; MultipleActiveResultSets='True'" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>